@font-face {
  font-family: "HagridFont";
  src: url("src/hagrid/Hagrid-Text-Extrabold-trial.ttf") format("truetype"); /* Replace 'path/to/hagrid-font.ttf' with the actual path to your font file */
}

@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h6 {
  color: white;
}
p {
  font-family: "Courier Prime", monospace;
  color: white;
  font-style: normal;
}
a,
a:link,
a:visited {
  text-decoration: none;
  color: white;
}

.HagridFont {
  font-family: HagridFont;
}
.container {
  display: flex;
  width: 100vw;
  background-color: black;
}

.child-1 {
  width: 50vw;
}
.child-2 {
  width: 50vw;
  padding: 4%;
}
.title {
  margin-bottom: 15%;
}
.title-name {
  margin-bottom: 10px;
  color: white;
  /*-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
}
.title-about {
  font-size: 0.7rem;
  font-weight: 400;
}

.profile-img {
  /*filter: grayscale(100%) contrast(1.3);*/
  object-fit: cover;
  height: 45vh;
  width: 100%;
}

.about-me-container {
  padding: 15% 5% 10%;
}
.about-me {
  font-size: 0.6rem;
  font-weight: 400;
}

.website-title h6 {
  font-size: 1rem;
  margin: 1vh;
}
.website-icon {
  display: flex;
  align-items: center;
  justify-content: start;
}
.website-icon div {
  margin: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
}
.website-icon p {
  font-size: 0.8rem;
}
.link-container {
  margin: 10% 0;
}

.link {
  margin: 5% 0;
}
.link-title h6 {
  font-size: 1rem;
}

.flex-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link button {
  color: white;
  margin: 10px 0;
  font-size: 1.2rem;
  text-align: left;
  width: 100%;
  padding: 10px 5px;
  border: none;
  background-color: #1649ff;
  box-shadow: 3px 3px 0px 0px rgb(255, 255, 255);
}

.social-title h6 {
  font-size: 1rem;
  margin-bottom: 5%;
}
.social-icons {
  margin: 10% 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.social-icons i {
  font-size: 1.25rem;
  color: white;
}

.footer {
  height: 5vh;
  width: 100vw;

  background-color: #1649ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.made-by {
  color: black;
  font-size: 0.8rem;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
}
